
.vs/NetProviders/FileContentIndex/25046a87-007c-471b-8517-fe87d3dbda87.vsidx
.vs/NetProviders/FileContentIndex/read.lock
.vs/NetProviders/v17/.suo
.vs/NetProviders/FileContentIndex/c7ce9413-4665-43f9-9200-47ad7af82975.vsidx
.vs/NetProviders/FileContentIndex/34a11c2f-cc80-42b7-b202-252f0aa5354c.vsidx
